<div class="gridster">
  <ul>
  
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div 
        data-id="response_time" 
        data-view="Alert" 
        data-addclass-danger="isTooHigh">
      </div>
    </li>

    <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
  	  <div 
        data-id="user" 
        data-view="User" 
        data-title="User">
      </div>
	  </li>

  	<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
  	  <div 
        data-id="pomodoro" 
        data-view="Countdown" 
        data-title="Herp the Derp" 
        data-end="" 
        data-addclass-available='isAvailable'>
      </div>
  	</li>

  </ul>
</div>