// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$light_red:  #dc5945;
$light_blue:  #457ddc;
 
// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-countdown {

  background-color: gray;
 
  h2 { font-size: 2em;}
 
  h1 { font-size: 2em;}
 


  .countdown-time {
    margin-top: 10px;
    color: yellow;
    font-weight: bold;
  }
 
  .before-more-info {
    font-size: 15px;
    position: absolute;
    bottom: 52px;
    left: 0;
    right: 0;
  }


}

.available {
  background-color: blue;
}
.busy {
  background-color: red;
}


